body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.app {
  min-height: 100vh;
}

.main-content {
  padding: 20px;
 
}
.login-container{

}

.page {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.navbar {
  background-color: rgba(256,256,256,0.0);
  padding: 16px 24px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.0);
}

.logo {
  font-weight: bold;
  color: #2c3e50;
}

.links a {
  margin-left: 16px;
  text-decoration: none;
  color: #2c3e50;
}

.links a:hover {
  color: #3498db;
}
.workouts-page,.home-container,.schedule-container {

  padding: 20px;
  margin-top: 50px;
  border: none;
}
.home-wrapper{
  margin-top: 50px;
}
.dietplan{
  margin: 20px;
  margin-top: 50px;
}
.schedule-table{
  border: 0px;
  border-color: rgba(256,256,256,0.0);
}
table{
  border: none;
}
.login-container,.login-form{
  background: rgba(256,256,256,0.0);
  border: none;
}